//liens menu 

.menu-link:hover {
    color: $primary-color;
    font-weight: 700;
}

.accueil-link:hover {
  color: $danger-color;
  font-weight: 700;
}

//barre de recherche

.form-recherche {
  border: none;
  border-bottom: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
  border-radius: 0;

  &:focus {
    box-shadow: none;
    border-bottom: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
  }
}

// modification du texte de la barre de recherche version mobile tablette

.recherche-menu {
  width: 260px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .recherche-menu {
    width: 220px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .recherche-menu {
    width: 190px;
  }
}


