// Couleurs
$primary-color: #0074c7;
$secondary-color: #00497c;
$accent-color: #82b864;
$danger-color: #cd2c2e;
// Texte
$text-color: #384050;
$text-light: #f1f8fc;

// Police
$font-family: "Graphik", sans-serif;

// Tailles
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-p: 1rem;